.selector {
  height: 70px;

  .selectorContent {
    @include outer-container;
    border-bottom: 3px solid $primary;
    height: 100%;
  }

  button {
    text-transform: uppercase;
  }

  button:hover {
    background-color: $primary;
    cursor: default;
  }

  img {
    height: 40px;
    margin: 15px 15px 0 0;
    float: left;
  }

  li {
    display: inline;
    line-height: 70px;
    margin-right: 20px;
    text-transform: uppercase;
  }

  a {
    color: black;
  }

  .items {
    float: left;
  }
}